# Kafka Configuration (internal Docker network address)
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC_REALTIME_PRICES=crypto.realtime.prices
KAFKA_TOPIC_REALTIME_MARKET=crypto.realtime.market

# Azure Credentials
AZURE_CLIENT_ID=your_azure_client_id
AZURE_CLIENT_SECRET=your_azure_client_secret
AZURE_TENANT_ID=your_azure_tenant_id

# Azure Data Lake Configuration
AZURE_STORAGE_ACCOUNT_NAME=your_storage_account_name
AZURE_STORAGE_CONTAINER_NAME=datalake
